@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:white;
  background-image: linear-gradient(to bottom right,#4A235A,#154360);
  padding-bottom:200px;
}
h1{
  font-family: 'Staatliches', cursive;
  font-size:45px;
}
h3{
  font-family: 'Staatliches', cursive;
  font-size:24px;
}

.row{
  padding-top:50px;
  padding-bottom:50px;
  display:flex;
  justify-content: space-around;
  
}
img{
  width:170px;
  height:240px;
  
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

button{
  width:120px;
  height:50px;
  border:0;
  border-radius: 1rem;
  font-size:17px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  margin:10px;
  font-family: 'Staatliches', cursive;
}

.shine {
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	-webkit-background-size: 150px;
	color: rgba(255, 255, 255, 0.3);
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
  
  
}


@-webkit-keyframes shine {
	0%, 10% {
		background-position: -1000px;
	}
	20% {
		background-position: top left;
	}
	90% {
		background-position: top right;
	}
	100% {
		background-position: 1000px;
	}
}





